
*{
    font-family: 'outfit';
    font-weight: 400;
    font-size:16px;
}
body{
    background-color: hsl(30, 54%, 90%);
}
.container{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width:50% ;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 5%;


}
section{
    padding: 5%;
    border-radius: 20px;

}
img{
    width: 100%;
    border-radius: 15px;
}

.s-font{
    
    font-size: 2.5rem;
    font-family: 'Young Serif', Courier, monospace;
    font-weight: 400;
}

li,p{

    line-height: 1.5rem;
    color:hsl(30, 10%, 34%);
    font-size: smaller;
}
p{
    font-size: 1rem;

}
strong{
    color: hsl(30, 10%, 34%);
    font-size:1rem;
    font-weight: 600;
}
.time{
    background-color:hsla(324, 100%, 98%, 0.677);
    padding: 2%;
    border-radius: 10px;
    
    li::marker{
        font-size: small;
    }
}
.time h3{
    color: hsl(332, 72%, 33%);
    font-weight:700 ;
    font-size: 1.1rem;
    margin-right: 10px;
    margin-bottom: auto;

}


h2{
    color: hsl(16, 43%, 34%);
    font-size:1.5rem;
    font-family: 'Young Serif', Courier, monospace;
    font-weight: 400;
}
ol,ul{
    font-size: 1rem;
    padding-left: 1.5rem;
    margin-top: 0;

}
.ingredients ul{
    li::marker{
        color: hsl(16, 45%, 35%); 
        font-size: small;
    }
}
.instuctions ol{
    li::marker {
        position: relative;
        left: 100px;
        font-weight: 700;
        color: hsl(16, 45%, 35%);
      }
  }
 

li{
    width: 90%;
    padding-left: 1rem;
    padding-top:10px;
    font-size: medium;
 }

  hr{
    margin: 2rem 0;
    opacity: 0.5;
  }



table{
    border-collapse: collapse;
    width: 100%;
}
table td{
    font-weight: 400;
    padding: 1rem 0;
}
table td{
    font-size: 1rem;
    font-weight: 300;
}

.bl{
    font-weight: 700;
    color: hsl(16, 45%, 35%);
}
tr{
    border-bottom: 1px solid hsla(16, 45%, 35%,0.5);
 }
 .nonb{
    border-bottom: none;
 }

 @media screen and (max-width:400px) {
    

    .container{
      width: 100%;
    
    
    }
  
    
 }